<section class="border-emerald-700 border-y shadow-[0_0_20px_10px_rgba(80,200,120,0.75)]">
  <div class="text-white mx-auto">
    <div class="mx-auto overflow-hidden overflow-x-hidden py-2 relative">
      <div class="w-full justify-between grid">
        <div class="absolute from-black inset-0 left-0 via-transparent w-40 z-10 bg-gradient-to-r">
        </div>
        <div
          class="absolute from-black inset-0 left-0 via-transparent w-40 z-10 bg-gradient-to-l ml-auto"
        >
        </div>
      </div>
      <div
        class="flex items-center animate-marquee font-black font-display gap-4 relative tracking-widest uppercase whitespace-nowrap"
      >
        spots open <span class="inline">✺</span> spots open <span class="inline">✺</span> spots open
        <span class="inline">✺</span> spots open <span class="inline">✺</span> spots open <span
          class="inline">✺</span
        > spots open <span class="inline">✺</span> spots open <span class="inline">✺</span> spots open
        <span class="inline">✺</span> spots open <span class="inline">✺</span>

        <!-- Duplicate starts here -->
        spots open <span class="inline">✺</span> spots open <span class="inline">✺</span> spots open
        <span class="inline">✺</span> spots open <span class="inline">✺</span> spots open <span
          class="inline">✺</span
        > spots open <span class="inline">✺</span> spots open <span class="inline">✺</span> spots open
        <span class="inline">✺</span> spots open <span class="inline">✺</span>
      </div>
    </div>
  </div>
</section>
