<section class="border-emerald-700 border-b">
  <div class="mx-auto border-emerald-700 border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        ESF3RA busca la integración del artista independiente en el de ocio nocturno madrileño.
        Creando un entorno en el que el descubrimiento es una parte central del ocio y del estilo de
        vida de la ciudad.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER
        PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER PLACEHOLDER
      </p>
    </div>
  </div>
</section>
