<section
  class="mx-auto border-emerald-700 border-t 2xl:max-w-7xl bg-slate-950 border-b justify-center lg:fixed lg:z-50 w-full shadow-[0_0_20px_10px_rgba(80,200,120,0.75)]"
>
  <div class="mx-auto bg-slate-950 justify-center w-full">
    <div
      class="mx-auto border-emerald-700 border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full"
    >
      <div
        class="text-white text-center items-center w-full flex flex-col justify-evenly md:px-0 sm:flex-row sm:px-8"
      >
        <div class="flex flex-row lg:justify-start justify-evenly">
          <a
            href="/"
            class="text-white text-m font-display inline-flex items-center md:px-8 md:text-center py-4 uppercase neon-emerald"
          >
            <span>ESF3RA</span>
          </a>
          <img class="w-1/6" src="/public/avatars/esf3ra_logo.svg" alt="Icon description" />
        </div>

        <a
          href="https://www.instagram.com/esf3ra"
          onclick="openInstagram('esf3ra'); return false;"
          class="w-full bg-white duration-200 font-display hover:bg-black hover:text-white lg:ml-auto lg:w-auto px-6 py-4 sm:rounded-full text-black text-center text-xs uppercase"
          >Instagram</a
        ><a
          href="mailto:your@name.com"
          class="w-full bg-emerald-700 duration-200 font-display hover:bg-blacktext-white lg:w-auto px-6 py-4 sm:rounded-full text-white hover:text-slate-700 text-center text-xs uppercase"
          >Entradas</a
        >
      </div>
    </div>
  </div>
</section>

<script>
  function openInstagram(username) {
    // The deep link to open Instagram
    var appLink = "instagram://user?username=" + username;

    // Try to open the Instagram app
    var startTime = Date.now();
    window.location.href = appLink;

    // Fallback to web if app doesn't open after a short delay
    setTimeout(function () {
      // Calculate elapsed time
      var elapsedTime = Date.now() - startTime;

      // If less than 2 seconds have passed, the app probably didn't open, so fallback to web
      if (elapsedTime < 2000) {
        window.location.href = "https://www.instagram.com/" + username;
      }
    }, 1500); // Adjust delay if necessary
  }
</script>
